<div class="container">
  <!-- <div class="section-heading">About Us</div> -->
  <div class="section-content">
    <div class="dt-left">
      <div class="large-font">
        Saaskin is the leader in precision machining.
      </div>
      <div class="small-font">
        We provide you the best of the precision machining, which is highly tested and has passed all the standards. We find it as a proud moment when we were recognized as the best in terms of maching all over the region.
      </div>
    </div>
    <div class="dt-right">
      <img src="http://excelinternational.com/images/images-engelbrecht/PRECISIONMACHININGMAIN.jpg">
    </div>
  </div>
</div>