:host {
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.card {
    background: white;
    /* 4dp shadow */
    box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    padding: 10px 20px;
    border-radius: 4px;
}