<div class="container">
  <div class="section-heading">Contact Us</div>
  <div class="section-content">
    <div class="image-half">
        <i class="fa fa-address-card" aria-hidden="true"></i>        
    </div>
    <div class="details-half">
      <div class="heading">Company Address</div>
      <div>Saaskin Technologies</div>
      <div>No: 8B, Self-Help Industrial Estate</div>
      <div>Kovilambakkam, Keelkattalai, Chennai - 600117</div>
      <div>Tamil Nadu, India</div>
      <div>Mobile : 0091 9840819191 / 9940116677</div>
      <hr>
      <div class="heading">Mr. Vigneshwaran D</div>
      <div>
        <span class="heading">Mobile: </span>+919840819191
      </div>
      <div>
        <span class="heading">Fax: </span>91-44-69445500
      </div>
      <div>
        <span class="heading">Email Us: </span>info@saaskin.com
      </div>
    </div>
  </div>
</div>
