.item-wrapper{
    position: relative;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    float: none;
    width: 24%;
    padding: 2%;
    vertical-align: top;
    text-align: center;
    margin-right: -4px;
    min-width: 300px;
    max-width: 500px;
}
.product-name{
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 25px;
    font-size: 30px;
    font-family: Franchise, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #414141;
}
.short-description{
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: -16px auto 5px auto !important;
    line-height: 19px;
    text-align: center;
    min-height: 50px;
    padding-top: 10px;
}
.item-wrapper:hover {
    opacity: 0.25;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}