<div class="header-bottom-wrapper">
  <div class="container">
    <img src="http://pimg.tradeindia.com/51432/7/template_photo_1.jpg" alt="saaskin logo">        
    <ul class="pull-right">
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>Company Profile</li>
      <li class="products">
        <span>Our Products</span><i class="fa fa-caret-down" aria-hidden="true"></i>
        <app-header-products-card></app-header-products-card>
      </li>
      <li class="search-box" #sb>
        <input type="text">
        <i class="fa fa-search" aria-hidden="true" (click)="toggleSearchBox($event)"></i>
      </li>
    </ul>
  </div>
</div>