<div class="row" >
  <div class="col-xs-1">
  </div>
  <div class="col-xs-5">
    <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
      <slide *ngFor="let slide of slides;">
        <img src={{slide.img}} alt="Second slide">
     
        <div class="carousel-caption">
          <!-- <h4>Slide {{index}}</h4> -->
          <!-- <p>{{slide.text}}</p> -->
        </div>
      </slide>
    </carousel>
  </div>
  <div class="col-xs-5">
    <div class="pull-right">
      <div>
        <h1>{{selectedProduct.name}}</h1>
      </div>
    </div>
    <div class="product-shop">
      <p class="top_description">{{selectedProduct.description}}</p>
      <div class="base-info">
        {{selectedProduct.majorDescription}}
      </div>
      <div class="btstrech">
        <button type="button" class="btn btn-primary" (click)="openDialog()">Send Enquiry</button>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>

</div>
<div >
  <div>
    <h1 style="text-align: center;">Other Items You Might be interseted in</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="spread">
    <app-product-list></app-product-list>
  </div>
  <div class="col-xs-1"></div>
</div>
