<md-dialog-content>
<div>
  <div class="form-group flex">
    <label for="usr"><b>To :</b></label> <input class="form-control" type="text" [(ngModel)]="to" id="usr" disabled>
  </div>
  <div class="form-group flex">
    <label><b>Subject :</b></label> <input class="form-control" type="text" [(ngModel)]="productName" disabled>
  </div>
  <div>
    <textarea class="resize"></textarea>
  </div>
</div>
</md-dialog-content>
<md-dialog-actions>
  <button  md-button [md-dialog-close]="true" tabindex="1">Send</button>
  <button md-button md-dialog-close tabindex="-1">Cancel</button>
</md-dialog-actions>




